    <script src="{{site.baseurl}}/bower_components/d3/d3.min.js">
      </script>
    <script src="{{site.baseurl}}/bower_components/marked/marked.min.js">
      </script>
    <script src="{{site.baseurl}}/bower_components/js-yaml/dist/js-yaml.min.js">
      </script>
    <script src="{{site.baseurl}}/assets/src/coffeescript.js">
      </script>
    <script src="{{site.baseurl}}/assets/src/jade.js">
      </script>
    <!-- 
      These dependencies are built with Travis-CI 
      Rawgit is the cdn.
    -->
    <!--script src="https://rawgit.com/tonyfast/d3.template/master/js/d3.template.js">
      </script-->
    <script src="{{site.baseurl}}/coffee/d3.template.js">
      </script>
    <script src="{{site.baseurl}}/bower_components/jquery/dist/jquery.min.js">
      </script>
    <script src="{{site.baseurl}}/bower_components/materialize/dist/js/materialize.min.js">
      </script>
    <script src="{{site.baseurl}}/bower_components/zeroclipboard/dist/ZeroClipboard.min.js">
      </script>

    <!--  CodeMirror Extensions-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.0.0/codemirror.js">
      </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.0.0/mode/yaml/yaml.js">
      </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.0.0/mode/htmlmixed/htmlmixed.js">
      </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.0.0/mode/javascript/javascript.js">
      </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.0.0/addon/fold/foldcode.js">
      </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.0.0/addon/fold/foldgutter.js">
      </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.0.0/addon/fold/indent-fold.js">
      </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.0.0/addon/fold/comment-fold.js">
      </script>

    <style>
      @import "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/css/materialize.min.css";
      @import "https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.0.0/codemirror.min.css";
      @import "https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.0.0/theme/blackboard.css";
      @import "https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.0.0/addon/fold/foldgutter.css";
      .CodeMirror {
        height: auto;
      }
    </style>